
#login, #signup {
  margin-top: 2rem;
  cursor: pointer;
}

/* Profile Page style */

.profile-page {
  margin-top: 1rem !important;
}
.profile .flow-text {
  margin-top: 0 !important;
}
.profile h4{
  margin-bottom: 0 !important;
}
.profile h5 {
  font-style: italic !important;
}
.edit{
  width: 96% !important;
  margin: 5px auto 10px auto;
}
.edit p{
  margin-top: 0 !important;
  padding: 2px 0;
  border: 0.5px solid rgb(172, 172, 172);
  border-radius: 10px;
  font-size: 18px !important;
  color: rgb(77, 77, 77);
}
.edit:hover{
  background-color: rgb(255, 246, 248);
  cursor: pointer;
}
.gallery .col {
  margin-bottom: 10px !important;
}

@media screen and (max-width:990px) {
  .profile-desc {
    text-align: center !important;
  }
  blockquote {
    border-left: none !important;
  }
  .profile-img img.responsive-img {
    margin: auto !important;
  }
}
/* Home */
.home-card {
  max-width: 500px;
  height: max-content;
  margin: 20px auto !important;
}

/* Signup Modal */
/* label focus color */
.input-field input:focus + label {
  color: rgb(255, 27, 65) !important;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid rgb(255, 27, 65) !important;
  box-shadow: 0 1px 0 0 rgb(255, 27, 65) !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
color: rgb(255, 27, 65) !important;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
}

/*Nav*/
.nav-logo {
  height: 60px;
  width: 110px;
    
}
.auth-logo {
  height: 65px;
  width: 110px;
  text-align: center;
}
